@model List<YVFlashcard.Core.DTO.LessionInfoDTO>
@{
    ViewBag.Title = "Word List";
    int themeId = ViewBag.ThemeId;
}


<div class="main-content">

    <div class="sub-header mt-4 ms-5 d-flex">

        <div class="dropdown me-5">
            <button class="btn btn-primary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Lesson Lists
            </button>
            <ul class="dropdown-menu">
                @for (int i = 0; i < Model.Count; i++)
                { <li><a class="dropdown-item" onclick="CreateLessonRows(@Model[i].lessionInfoId)">@Model[i].name</a></li>
                }
                <li><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createLesson" "> Add </button></li>
            </ul>
        </div>

        <div class="input-group md-form form-sm form-1 pl-0">
            <div class="input-group-prepend">
                <span class="input-group-text " style="background-color: #009CFF;" id="basic-text1">
                    <i class="fas fa-search text-white"
                       aria-hidden="true"></i>
                </span>
            </div>
            <input class=" my-0 py-0 " style="border: 1px grey solid; width: 600px; height: 30px;" type="text" placeholder="Search" aria-label="Search">
        </div>

        <button class="btn btn-primary  me-5" style="height: 30px; width: 280px;"  data-bs-toggle="modal" data-bs-target="#createVocab2"><i class="fa-solid fa-plus"></i> Add Vocabulary</button>


    </div>

    <!-- Recent Sales Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0" id="theme-infor">Vocabulary List</h6>

            </div>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-dark">
                            <th scope="col" style="width: 30px;">No</th>
                            <th style="width: 600px;"> Image</th>
                            <th scope="col" style="width: 190px;">Vocabulary</th>
                            <th scope="col" style="width:150px;">Pronunciation</th>
                            <th scope="col">Parts of Speech</th>
                            <th style="width: 600px;"> Definition</th>
                            <th scope="col"></th>

                        </tr>
                    </thead>
                    <tbody id="word-table">
 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<!-- ---------------------Modal Create------------------------- -->

<div class="modal fade  " id="createVocab2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="themeModalLabel">Modal title</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Image</label><br />
                <div>
                    <img id="WordImg" src="" width="100px" height="100px" /><br />
                    <input id="inpWordImage" type="hidden" name="Image" value="" />
                </div>
                <button type="button" class="btn btn-success btn-sm" onclick="loadWordImage()">Upload</button><br />

                <label>Vocabulary</label><br />
                <input id="createVocab" type="text" /> <br />

                <label>Pronunciation</label><br />
                <input id="createPro" type="text" width="200px" /> <br />

                <label>Part of Speech</label><br />
                <input id="createPart" type="text" width="200px" /> <br />

                <label>Definition</label><br />
                <input id="createDef" type="text" width="200px" /> <br />


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveAddVocab()">ADD</button>
            </div>
        </div>
    </div>
</div>



<!-- Modal Edit-->
<div class="modal fade  " id="editVocab" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="themeModalLabel">Modal title</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Image</label><br />
                <div>
                    <img id="modalImg" src="./img/Avt.png" width="100px" height="100px" /><br />
                </div>
                <input type="file" id="fileInput" onchange="loadImage()" multiple> <br />

                <label>Vocabulary</label><br />
                <input id="editVocab" type="text" /> <br />

                <label>Pronunciation</label><br />
                <input id="editPro" type="text" width="200px" /> <br />

                <label>Part of Speech</label><br />
                <input id="editPart" type="text" width="200px" /> <br />

                <label>Definition</label><br />
                <input id="editDef" type="text" width="200px" /> <br />





            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveEditVocab()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!----------------Modal Create Lesson---------->
<div class="modal fade" id="createLesson" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create a new lesson</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Lesson name:</label>
                <input id="lessonName" type="text" style="width:300px"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveLesson()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Areas/Plugins/js/wordListad.js"></script>

<script>
    function saveLesson() {
        let lessonName = document.getElementById("lessonName").value;
        let data = {
            name: lessonName,
            themeId: @themeId,
        }
        $.ajax({
            url: '/Admin/Admin/InsertLession',
            type: 'POST', // Phương thức HTTP
            data: data,
            success: function (result) {
                console.log(result);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>
