@using YVFlashcard.Core.DTO;
@model LessionInfoDTO
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Flashcard Learning";
}

<link href="~/Plugins/css/flashcardLearning.css" rel="stylesheet">

<input hidden id="lessonId" value="@Model.lessionInfoId" />
<input hidden id="username" value="@Session["username"]" />
<input hidden id="lessDes" value="@Model.description" />
<script src="~/Plugins/js/Bs5Utils.js"></script>

<main>

    <div class="d-flex justify-content-around">
        <div class="wrapper mt-4 " id="flip-card-container">

        </div>
        <!-- ------Count difficult words Card ----->
        <div class="itemm pt-4">
            <div class="container learn_vocab-container ">
                <div class="box" id="box8">
                    <div class="body">
                        <div class="frontContainer">
                            <div class="frontContainerCard">
                                <div style="width: 100%; height: 30%; background-color:#76B39D ; border-bottom-left-radius: 50%; border-bottom-right-radius: 50%;">
                                </div>
                                <div class="imgContainer ">
                                    <img src="/Plugins/localImgs/rating.png">
                                </div>
                                <div class="mt-4" style="color: red;">
                                    <p style="text-align: center; "> <span id="dificultWords">0</span> Difficult words</p>
                                </div>
                                <div class="d-grid justify-content-center">

                                    <button id="addWordListbtn" hidden class="btn btn-outline-success " type="button" data-bs-toggle="modal" data-bs-target="#createModalLessonU">
                                        <i class="fas fa-folder-open pr-2"></i>ADD TO WORDLIST
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="createModalLessonU" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Lesson:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div style="padding-left:140px ;">
                        <label>Image</label><br />
                        <div>
                            <img id="LessonUserImg" src="/Plugins/localImgs/Avt.png" width="100px" height="100px" /><br />
                            <input id="inpLessonUserImage" type="hidden" name="Image" value="/Plugins/localImgs/Avt.png" />
                        </div>
                        <button type="button" class="btn ms-3  mt-2 btn-success ellipse-btn btn-sm " onclick="loadWordImageLessonU()">Upload</button><br />



                        <label>Name</label><br />
                        <input style="border: 1px solid grey;" id="createLessonName" type="text" required/> <br />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success ellipse-btn" onclick="addLessonU()">Add</button>
                </div>
            </div>
        </div>
    </div>

</main>



<script src="/Plugins/js/flashcardLearning.js"></script>
<script>
    function loadWordImageLessonU() {
        var finder = new CKFinder();
        finder.selectActionFunction = function (fileUrl) {

            document.getElementById("LessonUserImg").src = fileUrl;
            document.getElementById("inpLessonUserImage").value = fileUrl;
        }
        finder.popup();
    }
</script>
