@using YVFlashcard.Core.DTO;
@model LessionInfoDTO
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Memory Learning";
}

<link href="~/Plugins/css/memoryLearning.css" rel="stylesheet">
<script src="~/Plugins/js/Bs5Utils.js"></script>
<input hidden id="lessonId" value="@Model.lessionInfoId" />
<main>
    <div class="carbon carbon-container">
        <div class="panel d-flex" style="height: 120px;">
            <div class="carbon tabbar">

                <div>
                    <span>{</span>
                    <h4>
                        <span class="text-screen">moves:</span>
                        <span class="counter"> 0 </span>,
                        <span class="text-screen">time elapsed:</span>
                        <span class="time">00:00</span>
                    </h4>
                    <span>}</span>
                    <button class="btn btn-outline-success ellipse-btn" id="start-btn" onclick="startGame()">START</button>
                </div>

            </div>
            <div class="panel__one circle m-3"><i class="fa-solid fa-circle-xmark fa-lg"></i></div>
            <div class="panel__two circle m-3"><i class="fa-solid fa-minimize fa-lg"></i></div>
            <div class="panel__three circle m-3">
                <i class="fa-solid fa-expand fa-lg"></i>
                <!--<input type="checkbox" class="toggler3"> -->
            </div>
        </div>
        <!-- end of panel -->
        <div class="container" style="margin-top: 40px;margin-left: 2%;" id="memory-box-container">


        </div>
    </div>
    <!-- end of MAIN   -->
    <!-- end of MAIN   -->


</main>


<script src="~/Plugins/js/meomoryLearning.js"></script>
