@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Graph";
}
<input id="currentUsername" value="@Session["username"]" hidden />
<link href="~/Plugins/css/myGraph.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<main>

    <div class="main-content ms-5 pt-5 " style="padding-left: 250px;">
        <div class="d-flex" style="margin-left: 50px; margin-top: 150px;">
            <canvas id="myBarChart" style="width:100%;max-width:600px"></canvas>
            <canvas id="myPieChart" style="width:100%;max-width:400px; margin-left: 200px;"></canvas>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">Type</th>
                        <th scope="col">Lesson</th>
                        <th scope="col">num</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="hisArea">
                </tbody>
            </table>
        </div>
    </div>
    
</main>

<script src="~/Plugins/js/myGraph.js"></script>

