@using YVFlashcard.Core.DTO;
@model LessionInfoDTO
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Spelling Learning";
}
<link href="~/Plugins/css/spellingLearning.css" rel="stylesheet">
<script src="~/Plugins/js/Bs5Utils.js"></script>
<input hidden id="lessonId" value="@Model.lessionInfoId"/>
<main>

    <div class="spelling-container m-auto ">
        <h2 style="border-radius: 20px;">
            <i class="fa-solid fa-cloud" style="color: #8EACCD;"></i> <i class="fa-solid fa-cloud" style="color: #8EACCD;"></i> <i class="fa-solid fa-cloud" style="color: #8EACCD;"></i>
        </h2>
        <div class="spelling-content">

            <p class="word"> </p>
            <div class="details ms-4">
                <p class="hint"> <i class="fa-solid fa-lightbulb" style="color: #FFDFDF"></i> Hint: <span></span></p>
            </div>
            <input class="spelling-input mb-4 mt-4" type="text" spellcheck="false" placeholder="Enter a valid word">
            <div class="buttons me-4 ms-4 pb-4">
                <button class="refresh-word btn btn-outline-success ellipse-btn">  <i class="fa-solid fa-arrows-rotate"></i> Refresh Word</button>
                <button class="check-word btn btn-outline-success ellipse-btn "> <i class="fa-regular fa-circle-check"></i>  Check Word</button>
                <button class="show-answer btn btn-outline-success ellipse-btn"><i class="fa-solid fa-eye"></i> Show Answer</button>

            </div>
        </div>
    </div>

</main>
<script src="~/Plugins/js/spellingLearning.js"></script>