@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "vocabularyDetail";
}



<link href="~/Plugins/css/vocabularyDetail.css" rel="stylesheet">
<input hidden id="lessonId" value="@Model.lessionInfoId" />
<input hidden id="username" value="@Session["username"]" />
<div class="main-content ms-5 pt-5" style="padding-left: 300px;">
    <div class="container ">
        <div class="d-flex ms-5 me-5">
            <div>
                <button class="btn btn-success ellipse-btn" onclick="backHandle()"> <i class="fa-solid fa-arrow-left"></i></button>
            </div>
            <nav aria-label="breadcrumb" class="ms-5 mt-2"> 
                <ol class="breadcrumb" style="font-size: x-large;">
                    <li class="breadcrumb-item"><a href="myWordList">My Lessons </a></li>
                    <li class="breadcrumb-item active" aria-current="page"> My Word List</li>
                </ol>
            </nav>
            <div claas="" style="margin-left: 33%;" onclick="addVocabUNon()">
                <button class="btn btn-success ellipse-btn mt-2 btn-sm"><i class="fa-solid fa-plus"></i> Add </button>
            </div>
            <div claas="" style="margin-left: 5%;" c>
                <button class="btn btn-success ellipse-btn mt-2 btn-sm" onclick="SaveVob()"><i class="fa-solid fa-floppy-disk"></i> Save</button>
            </div>
            <div claas="" style="margin-left: 5%;" onclick="learnVocabU()" data-bs-toggle="modal" data-bs-target="#myModalLearning">
                <button class="btn btn-success ellipse-btn mt-2 btn-sm"><i class="fa-solid fa-floppy-disk"></i> Learn</button>
            </div>
        </div>
        <div class="row mt-5 me-5 ms-5" id="lessonU-container">


        </div>
    </div>
</div>

<div class="modal fade theme-list-modal-lg" id="myModalLearning" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="list-header-container m-auto pt-4">
                <h5 id="list-theme-header"><i class="fa-solid fa-face-smile-wink fa-lg" style="color:#87C4FF;"></i> Learning vocabulary can be more enjoyable with one of the methods below:</h5>
                <br />
            </div>

            <div class="list-group " style="font-size: x-large; text-align: justify; margin: auto; letter-spacing: 5px;">
                <a href="/Home/flashcardLearning?lessonId=@Model.lessionInfoId&own=true" class="list-group-item list-group-item-action" style="color: #B3A492; border: none;"><i class="fa-regular fa-eye fa-lg me-3"></i>  Flipping Flashcards </a>
                <a href="/Home/spellingLearning?lessonId=@Model.lessionInfoId&own=true" class="list-group-item list-group-item-action" style="color: #94B49F;border: none;"><i class="fa-solid fa-w fa-lg me-3"></i> Word Scramble </a>
                <a href="/Home/memoryLearning?lessonId=@Model.lessionInfoId&own=true" class="list-group-item list-group-item-action" style="color: #FFCACC;border: none;"><i class="fa-solid fa-magnifying-glass fa-lg me-3"></i> Memory Game </a>
                <a href="/Home/quizLearning?lessonId=@Model.lessionInfoId&own=true" class="list-group-item list-group-item-action" style="color: #DBC4F0;border: none;"><i class="fa-regular fa-circle-question fa-lg me-3"></i> Quiz game </a>
            </div>
        </div>
    </div>
</div>

<script src="~/Plugins/js/vocabularyDetail.js"></script>
