@using YVFlashcard.Core.DTO;
@model UserInfoDTO
    <!doctype html>
    <html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- Bootstrap CSS v5.2.1 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
              crossorigin="anonymous" />
        <link href="~/Plugins/fonts/fontawesome-free-6.4.2-web/css/all.min.css" rel="stylesheet">
        <link href="~/Plugins/css/userPage.css" rel="stylesheet" />
        <link href="~/Plugins/css/style.css" rel="stylesheet">
        <script src="~/Plugins/ckfinder/ckfinder.js"></script>
    </head>

    <body>
        <header>
            <!-- place navbar here -->
        </header>
        <main>
            <div class="wrapper">

                <nav id="sidebar">
                    <div class="title-container">
                        <div class="logo-container" id="backtoLanding-btn" onclick="backtoLangding()" style="height: 160px;">
                            <img src="./assets/imgs/logo.png" width="150px" height="150px"><br />
                        </div>
                        <div style="height: 100px;">
                            <img src="@Model.avatar" style="background-color: white; border: 1px solid grey;"
                                 class="rounded-circle userAvt" height="80" width="80" alt="Portrait of a Woman" loading="lazy" />
                            <p class="username">@Model.username</p>
                        </div>
                    </div>
                    <ul class="list-items">
                        <li><a href="/userPage.html"><i class="fas fa-solid fa-user"></i>Profile</a></li>
                        <li><a href="/myWordList.html"><i class="fas fa-solid fa-list"></i>My Lessons</a></li>
                        <li><a href="/myGraph.html"><i class="fas fa-solid fa-chart-simple"></i>Graph</a></li>
                        <li><a href="signIn.html"><i class="fas fa-solid fa-right-from-bracket"></i>Sign out</a></li>
                    </ul>
                </nav>
            </div>
            @RenderBody()





        </main>
        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
      
        <script src="~/Scripts/popper.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
                integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
                crossorigin="anonymous"></script>
    </body>
</html>
